{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Lists</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

<h1>Listing Example</h1>

<h3>Unordered List</h3>

<ul>
<li>HTML</li>
<li>CSS</li>
<li>JavaScript</li>
</ul>

<h3>Ordered List</h3>

<ol>
<li>Python</li>
<li>Django</li>
<li>Database</li>
</ol>

<h3>Nested List</h3>

<ul>
<li>Web Development
    <ul>
        <li>HTML</li>
        <li>CSS</li>
    </ul>
</li>

<li>Programming
    <ul>
        <li>Python</li>
        <li>Java</li>
    </ul>
</li>

</ul>

</body>
</html>